# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
db.sqlite3
media/
staticfiles/
local_settings.py

# Environment variables
.env

# VSCode / IDE
.vscode/
.idea/

# Mac
.DS_Store
